<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="simplificanacionalcore" value="https://pkgs.dev.azure.com/simplificanacionalcore/_packaging/simplificanacionalcore/nuget/v2" />
	</packageSources>
	<packageSourceCredentials>
		<simplificanacionalcore>
			<add key="Username" value="VssSessionToken" />
			<add key="ClearTextPassword" value="c33wdwt5nhdnhh6mawb7yvpad7iupho76x247uyet6po52csfxua" />
		</simplificanacionalcore>
	</packageSourceCredentials>
</configuration>